section.Top-Bar {
    display: flex;
    justify-content: flex-start;
    /* Align items to the left */
    background-color: rgb(205, 81, 81);
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    position: fixed;
    padding: 1rem;
    align-items: center;
    /* Centers the button vertically */
}

.Main-Page {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    width: 100%;
}

#menu-button {
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    flex-grow: 0;
    /* Prevents button from stretching */
}

.center-image {
    position: absolute;
    /* Allows the image to be positioned independently */
    left: 50%;
    /* Move it to the center */
    transform: translateX(-50%);
    /* Adjust it to be exactly centered */
    display: block;
}

.Pokemon-Container {
    margin-top: 100px;
    max-width: 100%;
    height: auto;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.Element-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 100%;
    height: auto;
    margin-top: 50px;

}

.Pokemon-Card {
    background-color: rgb(48, 44, 44);
    border-radius: 5%;
}

.Pokemon-Card p {
    color: white;
    display: flex;
    justify-content: center;
}